body{
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: #319af0;
    background: url('../image/vultosfloresta.gif') no-repeat bottom center /*scroll*/;
    background-position: 80% 95%;
    background-size: 110%  100%; /* cover */
    margin: 0;
    font-size: 130%;
  
  
    text-shadow: 2px 2px 5px rgb(233, 225, 225) ;
  }
  
    .jolly-lodger-regular {
  
      font-family: "Jolly Lodger", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    
  
  
  p{
      .jolly-lodger-regular {
          font-family: "Jolly Lodger", system-ui;
          font-weight: 400;
          font-style: normal;
        }
        
  }
  .imgg{
    display:flex;
  margin-right: -450px;
    margin-top: -180px;
  }
  
  ul li{
  
    display:flex;
    margin-top: -70px;
  }
  
  ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center, top;
    padding: 16px;
    margin: 0px;
  }
  
  
  
  a{
    color: rgb(11, 23, 199);
    text-decoration:none ;
  }
  
  .container{
    padding: 0px 0px;
    text-align: top;
    margin: 0px;
  }
  
  
  
  ol{
    align-items: center;
  }
  
  h1, h2, h3{
    color: #0003a3;
    align-items: center;
    display: flex;
    flex-flow: column;
  }
  
  li a:hover{
    color: rgb(245, 239, 243);
  }
  
  audio{
    display: none;
  }